.dan_i_compare_block {
  display: none;
  flex-flow: column;
  padding: 12px 0;
  border-radius: 60px;
  position: relative;
  margin: 0 10px;
}

.dan_i_compare_block p {
  font-style: normal;
}

.dan_i_compare {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.dan_i_compare_title {
  width: 80px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  background-color: #39cba0;
  border-radius: 5px;
  font-family: "Kosugi Maru", sans-serif;
  font-weight: normal;
}

.dan_i_compare_past {
  width: 78px;
  height: 78px;
  background-color: #716af7;
  border-radius: 100px;
}
.dan_i_compare_past p {
  font-family: "DotGothic16", sans-serif;
  letter-spacing: 1px;
}

.dan_i_compare_now {
  width: 120px;
  height: 120px;
  background-color: #ffca3a;
  border-radius: 100px;
}

.dan_i_compare_now p {
	font-family: "DotGothic16", sans-serif;
	letter-spacing: 1px;
 }

.dan_i_compare_past_total {
  position: relative;
  text-align: center;
  top: 10px;
  font-size: 19px;
}

.dan_i_compare_past_color {
  display: flex;
  justify-content: center;
  margin-top: 11px;
}

.dan_i_compare_now_color {
  display: flex;
  justify-content: center;
  margin-top: 6px;
}

.dan_i_compare_past_color p {
  display: inline-block;
  margin: 0 3.5px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 9px;
  text-align: center;
  vertical-align: middle;
}

.dan_i_compare_now_total {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 17.5px;
  font-weight: bold;
}

.dan_i_compare_now_total p {
  font-size: 25px;
}

.dan_i_compare_now_total img {
  width: auto;
  height: 36px;
  margin-left: 3px;
}

.dan_i_compare_past_red {
  border-radius: 20px;
  background-color: #ff714dc1;
}

.dan_i_compare_now_red {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dan_i_compare_now_red p {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 20px;
  background-color: #ff714dc1;
}

.dan_i_compare_past_gold {
  border-radius: 20px;
  background-color: #c9c14bc1;
}

.dan_i_compare_now_gold {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dan_i_compare_now_gold p {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 20px;
  background-color: #c9c14bc1;
}

.dan_i_compare_now_red p,
.dan_i_compare_now_gold p {
  font-size: 10px;
  font-weight: bold;
}

.dan_i_compare_now_red img,
.dan_i_compare_now_gold img {
  width: auto;
  height: 25px;
  margin: 0 3px;
}

.dan_i_compare_arrow_image {
  width: 50px;
  height: auto;
  margin: 0 5px 0 7px;
  rotate: -5deg;
  bottom: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
