.error_wrapper {
  text-align: center;
  margin: 10px 0;
}

.error_box {
  border: 2px solid red;
  border-radius: 10px;
  color: rgb(36, 0, 0);
  padding: 20px 30px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin: 10px auto 10px auto;
}

.error_box p{
	font-size: 24px;
	font-family: "Kosugi Maru", sans-serif;
}

@media (max-width:480px){
	.error_box p{
		font-size: 20px;
	}
}

.error_password,
.error_policy {
  margin: 10px auto;
  max-width: 870px;
  font-size: 12px;
}

.dan_i_pulldown_error {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 20px 0 30px 0;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #737373;
}

.graph_dan_i_error {
  width: 100%;
  height: 400px;
  background-color: #e6f7ff4e;
}

.graph_dan_i_error_msg {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 37.5px;
  font-weight: bold;
  color: #51a8ff8b;
}

.table_song_data_error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: #e9e9e9a1;
  border: 2px dotted black;
}

.table_song_data_error_msg {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 30px;
  font-family: "Kosugi Maru", sans-serif;
  text-align: center;
  color: #5a5a5a;
}

.redar_error {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 300px;
	background-color: #e9e9e9a1;
	border: 2px dotted black;
	margin: 30px 0;
}

.redar_error_msg {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 30px;
	font-family: "Kosugi Maru", sans-serif;
	text-align: center;
	color: #5a5a5a;
 }