.input_wrapper {
  position: relative;
  margin-bottom: 3rem;
}

.input_checkbox_wrapper {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.input_form {
  width: 100%;
  padding: 8px;
  border: 1px solid #727272;
  border-radius: 5px;
  font-size: 19px;
}

.input_form.small {
  max-width: 250px;
}

.input_form.with_button {
  padding-right: 68px;
}

.email_input {
  width: 100%;
  margin: 0 auto;
  outline: none;
  appearance: none;
  padding: 10px 8px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 19px;
  background: #ffffff00;
}

.password_form {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
}

.password_area {
  display: flex;
  width: 70%;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 auto;
}

@media (max-width: 680px) {
  .password_area {
    width: 100%;
  }
}

.password_toggle {
  width: 60px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  height: 100%;
}

.eye {
  background: url(/image/eye.svg) no-repeat center center;
  background-size: 70% auto;
}

.eye_close {
  background: url(/image/eye_close.svg) no-repeat center center;
  background-size: 70% auto;
}

@media (any-hover: hover) {
  .password_toggle:hover {
    opacity: 0.7;
  }
}

.policy_form {
  width: 80%;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 10px auto;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.checkbox_policy {
  cursor: pointer;
  margin: 10px auto 0 auto;
  vertical-align: middle;
  font-family: "DotGothic16", sans-serif;
  font-size: 20px;
  font-style: normal;
  display: inline-flex;
  align-items: center;
  transition: 0.2s;
  border: 2px solid #6f6f6f;
  padding: 4px 12px;
}

.checkbox_policy:hover {
  opacity: 0.5;
  transition: 0.5s;
  background-color: #e1e1e1;
}

.checkbox_box_policy {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background: url("/image/close.svg") no-repeat center center;
  background-size: 100%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-right: 4px;
}

.checkbox_policy span {
  margin: 0 auto;
}

@keyframes checkbox_checked_animetion_policy {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
}

.checkbox_policy input[type="checkbox"] {
  display: none;
}

.checkbox_policy input[type="checkbox"]:checked + .checkbox_box_policy {
  background: url("/image/checkbox_checked.png") no-repeat center center;
  background-size: 100%;
  animation: checkbox_checked_animetion_policy 1s ease-in-out forwards;
}

@media (max-width: 800px) {
  .policy_form {
    width: 95%;
  }

  .policy_form h2 {
    font-size: 18px;
  }

  .policy_form li,
  .policy_form p {
    font-size: 15px;
  }

  .policy_number {
    margin-left: 41.5px;
	 font-size: 14px;
  }

  .policy-wrapper p {
	font-size: 14px;
  }

  .policy-wrapper h2 {
	font-size: 18px;
  }
}

.g-recaptcha {
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 300px;
}

.userlist_pulldown {
  --webkit-appearance: none;
  padding: 5px 10px;
  margin: 2px 0 2px 5px;
  width: 260px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-family: "Kosugi Maru", sans-serif;
  user-select:none;
  -webkit-user-select:none;
  -ms-user-select: none;
  -moz-user-select:none;
  -khtml-user-select:none;
  -webkit-user-drag:none;
  -khtml-user-drag:none;
  -user-drag: none;
}

.userlist_pulldown option {
  font-family: "Kosugi Maru", sans-serif;
  text-align: center;
}

.userlist_input_title {
  font-size: 18px;
  font-family: "Kosugi Maru", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
}

.userlist_input,
.userlist_input_rating {
  font-size: 20px;
  text-align: center;
  width: 50%;
  min-width: 340px;
  height: 40px;
  margin: 0 auto 10px auto;
  border-radius: 12px;
  border: 0.8px solid rgba(199, 199, 199, 0.815);
}

.userlist_input_rating {
	width: 30%;
	min-width: 210px;
}

.userlist_pulldown:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.editor_inputarea_sns {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.input_wrapper select {
  padding: 8px;
  text-align-last: center;
  font-size: 18px;
}

.input_wrapper option {
  border: none;
}

.gender_setting {
  font-size: 12px;
  /* text-align: center; */
  margin-bottom: 16px;
}

.editor_title,
.editor_label {
  margin-top: 30px;
  text-align: center;
  font-family: "DotGothic16", sans-serif;
  margin-bottom: 6px;
  font-weight: 700;
  font-style: normal;
}

.editor_label {
  font-size: 24px;
}

.editor_description {
  /* text-align: center; */
  font-size: 14px;
  color: #727272;
}

.editor_description span {
  font-weight: bold;
}

.editor_description_red {
  /* text-align: center; */
  font-size: 14px;
  color: rgb(227, 20, 20);
}

.editor_publishing {
  margin-bottom: 9px;
}

.editor_email {
  /* text-align: center; */
  font-size: 17px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration-line: underline;
  color: #6f6f6f;
  margin-bottom: 3rem;
}

.account_form_email {
  border: 3px double rgba(102, 201, 226, 0.541);
  border-radius: 10px;
  padding: 10px 20px 30px 20px;
  margin: 10px auto 40px auto;
}

.account_form_password {
  border: 3px double rgba(100, 68, 204, 0.596);
  border-radius: 10px;
  padding: 10px 20px 30px 20px;
  margin: 10px auto 40px auto;
}

.certification_form {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.certification_form_title {
  font-size: 25px;
  font-family: "Kosugi Maru", sans-serif;
  text-align: center;
  margin-bottom: 5px;
}

.certification_form_input {
  flex: 1;
  width: 300px;
  outline: none;
  appearance: none;
  text-align: center;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 22px;
  margin: 5px 0 5px 0;
}

.dan_i_pulldown,
.dan_i_chart_compare_pulldown {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin: 10px auto 25px auto;
}

.dan_i_pulldown select {
  width: 270px;
  height: 55px;
  margin: 3px auto 20px auto;
  padding: 5px 20px;
  text-align-last: center;
  font-size: 20px;
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dan_i_pulldown option {
  border: none;
}
