* {
  margin: 0px;
  padding: 0px;
  position: relative;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
}

html {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50% 150px;
  background-size: 80%;
  overflow-x: hidden;
  font-size: 100%;
}

select {
  --webkit-appearance: none;
  border: 2px solid #7aedff5f;
  border-radius: 10px;
  color: black;
  background-color: rgba(180, 255, 244, 0.475);
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0 0;
  padding: 0;
  position: relative;
  /* padding-bottom: 260px; */
  background-color: white;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

/*デフォルトリンク色*/
a {
  color: #007dcb;
}

.body_maintenance {
  min-height: 0;
  position: relative;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0);
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.hide {
  display: none;
}

.title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.description {
  font-size: 20px;
  text-align: center;
  font-family: "Kosugi Maru", sans-serif;
  margin: 5px 0;
}

.annotion {
  font-size: 7px;
  color: #9f9f9f;
  font-size: 12px;
}

.title_404 {
  width: 60%;
  margin-bottom: 55px;
}

.description_404 {
  font-size: 18px;
  text-align: center;
}

.title_soon {
  display: block;
  width: 60%;
  margin: 0 auto;
}

.nee-wrapper {
  margin: 20px auto 0 auto;
  text-align: center;
  border: 2px dotted rgba(255, 218, 149, 0.732);
  padding: 10px;
}

.nee-wrapper span {
  font-size: 35px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(132, 231, 198);
}

.nee_title {
  height: 30px;
}

.nee_message {
  margin-top: 6px;
  font-size: 12px;
  border-bottom: 2px double rgba(51, 150, 248, 0.274);
}

@media (max-width: 680px) {
  .title_404 {
    width: 90%;
    margin-bottom: 55px;
  }

  .description_404 {
    margin: 0 10px;
  }

  .nee-wrapper {
    width: 90%;
  }
}

.maintenance_detail {
  display: flex;
  flex-flow: column;
  border: double 3px rgba(28, 189, 253);
  background-color: white;
  padding: 50px 22.5px 80px 22.5px;
}

.maintenance-wrapper {
  padding: 50px 20px 0 20px;
}

.logo_maintenance {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media (max-width: 530px) {
  .logo_maintenance {
    width: 270px;
  }
}

.maintenance_description {
  font-size: 15px;
  text-align: center;
}

.maintenance_data {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

#loading_screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(232, 254, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease;
}

.loading_img {
  width: 300px;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -user-drag: none;
  pointer-events: none;
}

/*ページタイトル*/
.title_page {
  text-align: center;
  font-size: 32px;
  font-family: "Kosugi Maru", sans-serif;
  border-bottom: 4px double rgba(9, 67, 73, 0.285);
  padding-bottom: 10px;
  margin-bottom: 30px;
}

@media (max-width: 640px) {
  .title_page {
    text-align: center;
	 font-size: 25px;
  }
}

.titlelogo {
  margin: 0 auto 15px auto;
  height: 78px;
  background-size: 380px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titlelogo_sub {
  margin: 0 auto 15px auto;
  height: 90px;
  background-size: 360px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titlelogo_sub_mini {
  margin: 30px auto 15px auto;
  height: 80px;
  background-size: 310px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titlelogo_sub_double {
  max-width: 400px;
  height: 150px;
  margin: 30px auto 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titlelogo_img {
  display: block;
  margin: auto;
  width: 180px;
  height: auto;
  object-fit: contain;
}

.titlelogo_img_width {
  width: 260px;
  display: block;
  margin: auto;
}

.titlelogo_img_double {
  width: 250px;
  display: block;
  margin: auto;
}

.titlelogo_img_mini {
  width: 280px;
}

@media (max-width: 500px) {
  .titlelogo {
    background-size: 320px;
  }

  .titlelogo_sub {
    background-size: 100%;
  }

  .titlelogo_sub_double {
    background-size: 100%;
    height: 110px;
  }

  .titlelogo_img {
    height: 40px;
  }

  .titlelogo_img_double {
    width: 60%;
  }
}

.titlelogo_frame_red {
  background-image: url(/image/title/titleframe_red.png);
}

.titlelogo_frame_blue {
  background-image: url(/image/title/titleframe_blue.png);
}

.titlelogo_frame_green {
  background-image: url(/image/title/titleframe_green.png);
}

.titlelogo_frame_purple {
  background-image: url(/image/title/titleframe_purple.png);
}

.titlelogo_sub_frame_red {
  background-image: url(/image/title/subtitleframe_red.png);
}

.titlelogo_sub_frame_blue {
  background-image: url(/image/title/subtitleframe_blue.png);
}

.titlelogo_sub_frame_green {
  background-image: url(/image/title/subtitleframe_green.png);
}

.titlelogo_sub_frame_purple {
  background-image: url(/image/title/subtitleframe_purple.png);
}

.titlelogo_img {
  height: 40px;
}

.top-wrapper {
  margin: 10px auto;
  width: 95%;
  max-width: 1400px;
  flex-grow: 1;
}

.top-detail {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.logo_top {
  width: 80%;
  max-width: 800px;
  margin: 10px auto 60px auto;
}

.description_top {
  margin: 33px auto;
  width: 100%;
}

@media (max-width: 470px) {
  .logo_top {
    width: 300px;
  }
}

.description_form {
  /* text-align: center; */
  font-size: 12px;
  color: #9f9f9f;
  text-align: center;
  margin-top: 5px;
}

.description_nologin {
  display: flex;
  justify-content: center;
  border-bottom: 2.5px double gainsboro;
}

.description_nologin p {
  margin: 10px 0 6px 0;
  font-size: 17px;
  font-family: "DotGothic16", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.description_ban {
  margin-top: 20px;
  font-size: 15px;
  color: rgb(226, 152, 152);
}

.account_signup_description {
  font-weight: bold;
  font-size: 17px;
  text-align: center;
}

.account_delete_description_bold {
  font-weight: bold;
  font-size: 17px;
}

.account_delete_description_url {
  font-weight: bold;
  font-size: 17px;
  text-align: center;
}

.account_delete_description_list_red {
  color: red;
  font-weight: bold;
}

.login_username {
  font-size: 26px;
  font-weight: bold;
  font-family: "Kosugi Maru", sans-serif;
  text-align: center;
  border-bottom: 3px double rgba(99, 191, 227, 0.429);
}

.icon_sns {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -user-drag: none;
  height: 30px;
}

.sns_atmark {
  margin-right: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 26px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.edit_instagram {
  top: 8px;
  left: 9.5px;
}

.userdata_reload_time {
  font-size: 11px;
  color: #757575;
  text-align: center;
  font-family: "DotGothic16", sans-serif;
  font-weight: 200;
  font-style: normal;
}

@media (max-width: 640px) {
  .userdata_reload_time {
    font-size: 12px;
  }
}

.songdata_reload_time {
  font-size: 13px;
  font-family: "DotGothic16", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #757575;
  text-align: center;
}

/* .count_comment {
  width: 200px;
  display: block;
  width: 100px;
  height: 20px;
  margin: 0 auto;
} */

.count_string_over {
  color: red;
}

.count_string {
  font-size: 12px;
  vertical-align: bottom;
  /* text-align: center; */
}

.count_string_sp {
  font-size: 12px;
  text-align: center;
}

.account_description {
  font-size: 14px;
  font-family: "DotGothic16", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #727272;
  text-align: center;
  margin: 0 auto;
}

.account_link {
  font-family: "Kosugi Maru", sans-serif;
  color: rgb(0, 0, 0);
  border: 2px solid rgba(0, 176, 32, 0.717);
  background-color: rgba(0, 215, 47, 0.659);
  padding: 7.5px 7px;
}

.account_delete_link {
  font-family: "Kosugi Maru", sans-serif;
  color: rgb(150, 0, 0);
  border: 2px solid rgba(255, 42, 42, 0.717);
  background-color: rgba(255, 102, 75, 0.659);
  padding: 7.5px 7px;
}

.account_link:hover {
  opacity: 0.8;
  transition: 0.25s;
}

.edit_back {
  display: flex;
  justify-content: center;
}

.edit_link {
  display: block;
  width: 85%;
  font-size: 22px;
  color: #000000dc;
  text-align: center;
  font-family: "Kosugi Maru", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-decoration: none;
  padding: 7.5px 12px;
  border: 3px solid #6fffd4af;
  background-color: #defff5af;
  border-radius: 20px;
  margin: 30px auto 0 auto ;
}

.certification_information {
  display: flex;
  flex-flow: column;
  margin: 30px 0 20px 0;
  text-align: center;
}

.certification_information_title {
  width: 45%;
  min-width: 220px;
  padding: 8px 0;
  border: 2.5px solid rgba(194, 80, 9, 0.621);
  border-radius: 10px;
  background-color: rgba(194, 80, 9, 0.279);
  margin: 0 auto 10px auto;
  font-family: "Kosugi Maru", sans-serif;
  font-size: 16px;
}

.certification_string {
  border-bottom: 1px dotted gainsboro;
}

.certification_string span {
  font-size: 20px;
}

.canvas {
  border: 1px solid black;
}

.userlist-wrapper {
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
}

.userlist {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

@media (max-width: 750px) {
  .userlist {
    width: 90%;
  }
}

.userlist_link {
  text-decoration: none;
  transition: 0.3s;
}

.userlist_link:hover {
  background-color: #c4c4c44c;
  transition: 0.3s;
}

.userlist_search-wrapper {
  margin: 1% auto;
  text-align: center;
}

.border_userlist {
  border-top: 1px solid #35353542;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 10px;
}

.userlist_img {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin-right: 10px;
}

.userlist_info {
  width: 100%;
  line-height: 140%;
  display: flex;
}

.userlist_title {
  display: flex;
  width: 100%;
}

.userlist_name {
  width: 180px;
  white-space: nowrap;
}

.userlist_text {
  width: 100%;
}

.userlist_abstract {
  width: 70%;
  font-size: 13px;
}

.donder_img_userlist {
  width: 100px;
  height: 100px;
  border-radius: 7px;
}

.donder_img_userlist:hover {
  opacity: 0.85;
}

.comment-column_userlist {
  display: block;
  margin-top: 0.8%;
  font-size: 12px;
  line-height: 120%;
  width: 90%;
}

.dan_i-column {
	display: inline-block;
  font-size: 13px;
  padding: 2px 0px 1px 5.4px;
  margin: 2px 0 3px 0;
  font-family: "FOT-大江戸勘亭流 Std E", "UDデジタル教科書体N-R", sans-serif;
  background-size: 104% 101%;
  background-position: center;
}

.dan_i-column_mypage {
  font-size: 16px;
  vertical-align: middle;
  font-weight: normal;
  padding: 2.25px 0.1px 2.25px 6px;
  white-space: nowrap;
  font-family: "FOT-大江戸勘亭流 Std E", "UDデジタル教科書体N-R", sans-serif;
  background-size: 104% 100%;
  background-position: center;
}

.scorelist_crown {
  display: flex;
  justify-content: center;
}

.scorelist_scorerank {
  display: flex;
  justify-content: center;
}

.scorelist_crown_userlist {
  margin-left: auto;
}

@media (max-width: 660px) {
  .scorelist_crown_userlist {
    display: none;
  }
}

.dan_i_test {
  font-size: 10px;
  font-family: "FOT-大江戸勘亭流 Std E", "UDデジタル教科書体N-R", sans-serif;
}

.main_page_description_area {
  display: flex;
  justify-content: center;
  flex-flow: column;
  /* width: 95%; */
  margin: 0 auto 15px auto;
  border: 0.5px solid rgba(220, 220, 220, 0.512);
  padding: 10px 10px;
  text-align: center;
  background-color: #76efff0b;
}

.main_page_description_area p {
  display: inline-block;
  width: fit-content;
  margin: 15px auto 10px auto;
  font-family: "Kosugi Maru", sans-serif;
  font-size: 23px;
  font-weight: 500;
  font-style: normal;
  border-bottom: 4px double rgba(128, 128, 128, 0.391);
}

.main_page_description li {
  list-style-type: none;
  font-family: "Kosugi Maru", sans-serif;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

.dan_i_border {
  margin: 40px 0;
  border: dotted 1px #c0c0c0a0;
}

.dan_i_other_days {
  padding-top: 20px;
  margin: 20px auto;
  border: 1.3px dotted rgba(220, 220, 220, 0.81);
  border-radius: 10px;
  background-color: #f1ffd934;
}

.dan_i_other_year_wrapper {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.dan_i_other_year {
  display: flex;
  width: 80%;
  justify-content: center;
  font-size: 20px;
  margin: 4px auto 7px auto;
  padding: 10px;
  background-color: rgb(158, 239, 83);
  color: rgb(80, 80, 80);
  border-radius: 8px;
  transition: 0.2s;
  border: none;
  cursor: pointer;
}

.dan_i_other_year p {
  font-family: "Kosugi Maru", sans-serif;
}

.dan_i_other_year:hover {
  background-color: rgba(158, 239, 83, 0.692);
  transition: 0.5s;
}

.dan_i_other_year_list {
  display: flex;
  justify-content: center;
  width: 90%;
  font-size: 15px;
  margin: 2.5px 0 7.5px 0;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 6px;
  /* 角を丸く */
  border: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: display, opacity;
  transition-behavior: allow-discrete;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;

}

.dan_i_other_year_list:not(.show) {
  display: none;
  opacity: 0;
  transition-duration: 0s;
}

.dan_i_other_year_list p {
  font-family: "Kosugi Maru", sans-serif;
}

.dan_i_other_year_button {
	display: block;
	text-align: center;
	border-bottom: 2px dotted #c6c6c6;
	text-decoration: none;
	font-size: 26px;
	font-family: "DotGothic16", sans-serif;
	margin-bottom: 4px;
}

.policy-wrapper {
  display: flex;
  flex-flow: column;
}

.policy_title {
  text-align: center;
}

.policy_title h1 {
  font-size: 22px;
}

.policy_content {
  font-size: 18px;
}

.policy_content p {
  margin-left: 15px;
}

.policy_content h2 {
  margin: 20px 0 10px 0;
  padding: 6px 10px;
  background-color: rgba(138, 197, 255, 0.274);
}

.policy_number {
  list-style-type: japanese-informal;
  margin-left: 60px;
}

.policy_number2 {
  list-style-type: lower-alpha;
  margin-left: 20px;
}
